.animate {
}

.fade-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.activated {
  opacity: 1;
  transform: translateY(0);
}

.fade {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.fade.activated {
  opacity: 1;
}

.stretch {
  opacity: 0;
  transform: scaleX(0); /* Start with scale 0 on the x-axis */
  transform-origin: center; /* Optional: Define the origin of the scaling */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.stretch.activated {
  opacity: 1;
  transform: scaleX(1); /* Scale to 1 on the x-axis */
}

.scan-left {
  opacity: 0; /* Initially hidden */
  clip-path: inset(0 100% 0 0); /* Initially hide the element by clipping it */
  transition: opacity 1s ease-out, clip-path 1s ease-out;
}

.scan-left.activated {
  opacity: 1; /* Fade in */
  clip-path: inset(0 0 0 0); /* Reveal the element (fully visible) */
}

/* on page load*/
.fall-in-place {
  animation: fallInPlace ease-out forwards;
  will-change: transform;
}

@keyframes fallInPlace {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-down {
  opacity: 0;
  will-change: opacity, transform;
  animation: fadeDown 1.5s ease-out forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.expand {
  animation: expand 0.5s ease-out forwards;
  will-change: transform, opacity;
}

@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
