.animate {
}

.fade-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.activated {
  opacity: 1;
  transform: translateY(0);
}

.fade {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.fade.activated {
  opacity: 1;
}

.stretch {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.stretch.activated {
  opacity: 1;
  transform: scaleX(1);
}

.scan-left {
  opacity: 0;
  mask-image: linear-gradient(to right, black 0%, black 50%, transparent 50%);
  mask-size: 200% 100%;
  mask-position: 100% 0;
  transition: opacity 1s ease-out, mask-position 1s ease-out;
}

.scan-left.activated {
  opacity: 1;
  mask-position: 0 0;
}

/* on page load*/
.fall-in-place {
  animation: fallInPlace ease-out forwards;
  will-change: transform;
}

@keyframes fallInPlace {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-down {
  opacity: 0;
  will-change: opacity, transform;
  animation: fadeDown 1.5s ease-out forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.expand {
  animation: expand 1s ease-out forwards;
  will-change: transform, opacity;
}

@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
