  .slideshow {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: transform 0.3s ease;
  }

  .slideshow img {
    min-width: 100%;
  }

  #slideshow-nav {
    font-size: 0;
    text-align: center;
  }

  .tab {
    height: 10px;
    width: 50px;
    margin: 0 2px;
    background-color: white;
    border-radius: 1px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .tab:hover {
    background-color: var(--main);
  }