* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
  transition: inherit;
}

::selection {
  background: white;
  color: black;
}

:root {
  --main: #a2106d;  
  --font: 'Montserrat', 'Roboto', sans-serif;
}

/* Set default values*/
body {
  line-height: 1.5; 
  font-family: var(--font);
  font-size: 16px;
  color: white;
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  margin-top: 120px; /* Spacer between head banner and page*/
}

.highlight {
  color: var(--main);
}

.highlight-first::first-letter {
  color: var(--main);
}

/* Banner styling*/
#banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transition: all 0.5s ease;
}

#logo {
  width: 50px;
  margin: 20px 20px;
}

#menu-icon {
  width: 40px;
  margin: 20px 20px;
}

.menu-button-clicked {
  background-color: white;
  border-radius: 5px;
}

/*Mobile menu styling*/

#mobile-menu {
  position: fixed;
  visibility: hidden;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  top: 120px;
  right: -300px;
  transition: all 0.1s ease;
  z-index: 1;
}

.mobile-menu-open {
  visibility: visible !important;
  transform: translate(-300px) !important;
}

#mobile-menu a {
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: all 0.1s ease;
}

.cont {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  background-color: white;
  width: 100%;
}

.triangle {
  width: auto;
  height: auto;
  border-top: 30px solid transparent; /* Sum of top and bottom = height*/
  border-bottom: 30px solid transparent;
  border-right: 20px solid white; /*triangle width*/
}

.active-link span::first-letter{
  color: black !important;
 }

.active-link .cont {
  background-color: var(--main);
  color: white;

}

.active-link .triangle {
  border-right-color: var(--main);
}

.slice {
  height: fit-content;
  margin-top: 70px;
}

.slice p, .slice h1, .slice h2, .slice h3, .slice ul {
  margin: 20px 20px;
}


