#banner {
  width: 100%;
  position: fixed;
  top: 0px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  letter-spacing: -0.02em; /* Better presentation, no readability needed */
  transition: top 0.2s; /* For hiding/showing */
  background-color: black;
  color: white;
}

#logo {
  width: 50px;
  margin: 15px 20px;
}

#nav-menu {
  transition: right 0.2s ease;
}

/* Mobile menu */
@media (max-width: 1099px) {

  #mobile-menu-toggle {
    margin: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .menu-button-clicked {
    background-color: white;
    border-radius: 5px;
  }

  #nav-menu {
    position: fixed;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
  }

  #nav-menu a {
    width: 100%;
    margin-top: 10px; /* Vertical space between nav menu tabs */
    display: block;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    padding: 15px 25px;
    clip-path: polygon(0 50%, 13% 0, 100% 0, 100% 100%, 13% 100%);
  }

  .active-nav-tab::first-letter {
    color: black !important;
  }

  .active-nav-tab {
    background-color: var(--main) !important;
    color: white !important;
  }
}

/* Wide screen */
@media (min-width: 1100px) {
  #banner > a {
    transition: transform 0.5s ease; /* Smooth rotation */
  }

  #banner > a:hover {
    transform: rotate(24deg); /* Rotate the logo 360 degrees on hover */
  }

  #mobile-menu-toggle {
    display: none;
  }

  #nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    width: 70%;
    padding-right: 20px;
  }

  #nav-menu a {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    transition: font-size 0.2s ease;
  }

  #nav-menu a:hover {
    font-size: 26px;
  }

  .active-nav-tab {
    font-size: 32px !important;
  }
}
